html {
    min-height: 100%;
    margin: 0;
 }

body {
    font-family: 'Roboto', sans-serif;

    background-image: 
    radial-gradient(ellipse at center, rgba(181,189,200,0) 0%,rgba(130,140,149,0) 50%,rgba(40,52,59,1) 100%), 
    url("./Assets/backgroundTile.PNG");

    background-repeat: no-repeat, repeat;
    
    min-height: 100%;
    margin: 0;

}

input {
    height: 50px;
    width: 50px;

    border-width: 0;
    border-radius: 5px;

    background: transparent;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), url("./Assets/wood.jpg");
    background-size: cover;

    text-align: center;

    font-family: 'Roboto', sans-serif;
}

button {

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.1));
    border-width: 0;
    border-radius: 5px;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;

    display:flex;
    justify-content: center;

    font-family: 'Roboto', sans-serif;

}

#header{
    display:flex;
    justify-content: center;
}

#inputGrids {
    display: grid;

    grid-template-columns: 0.05fr 0.05fr 0.05fr 0.05fr;
    grid-template-rows: 0.05fr 0.05fr 0.05fr 0.05fr;

    grid-gap: 10px 25px;

    background-color: rgb(69,95,70);
    padding: 1% 1% 1% 1%;

    border-radius: 10px;
    border: 5px solid rgba(149,233,142);

    width: fit-content;
    margin: auto; /*center automatically*/

}

