html {
    min-height: 100%;
    margin: 0;

 }

h2 {
    
    margin: 2.5% auto 2.5% auto;

    font-weight: 600;
    font-size: 1.5rem;
    
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(185, 185, 185));
    padding: 10px;

    border-radius: 10px;

    text-align: center;
    justify-content: center;

    width: 30%

}

body {

    background-image: 
    radial-gradient(ellipse at center, rgba(181,189,200,0) 0%,rgba(130,140,149,0) 60%,rgba(40,52,59,1) 100%), 
    url("./Assets/backgroundTile.PNG");

    background-repeat: no-repeat, repeat;
    
    min-height: 100%;
    margin: 0;
    
    font-family: "Verdana", monospace;

}

input {
    height: 50px;
    width: 50px;

    border-width: 0;
    border-radius: 5px;

    background: transparent;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), url("./Assets/wood.jpg");
    background-size: cover;

    text-align: center;

    font-family: "Verdana", monospace;
    font-weight: 600;
    
}

button {

    background-color: rgba(0, 0, 0, 0.676);
    border-width: 0;
    border-radius: 5px;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;

    display:flex;
    justify-content: center;

    transition-duration: 0.5s;

    font-family: "Verdana", monospace;
    color: white;
}

button:hover {
    background-color: rgb(207,185,151); 
    transform: translateY(-0.5rem);
}

#userInput{

    
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5%;

    margin-top: 2.5%;
}

#inputGrids {
    display: grid;

    grid-template-columns: 0.05fr 0.05fr 0.05fr 0.05fr;
    grid-template-rows: 0.05fr 0.05fr 0.05fr 0.05fr;

    grid-gap: 10px 25px;

    background-color: rgb(69,95,70);
    padding: 1% 1% 1% 1%;

    border-radius: 10px;
    border: 5px solid rgba(149,233,142);

    width: fit-content;
    margin: auto; /*center automatically*/

}


#displayResults {
    margin: auto;
    text-align: center;
    
}

#displayResults p {

    margin-left: 1%;
    margin-right: 1%;

    display: inline-block;

    vertical-align: top;

    padding-right: 20px;
    padding-left: 20px;

    background-color: rgb(72, 91, 72);
    padding: 1% 1% 1% 1%;
    
    border: 2.5px solid rgb(65, 66, 66);

    color: white;

}

#displayResults p button{
    margin: auto;
    margin-top: 20px;
    
    padding: 10px;

}